//---------------------
// Navigation
//---------------------

nav.navbar.fixed-top.navbar-expand-md.navbar-top
  .container
    a.navbar-brand Home of Tomorrow
    .collapse.navbar-collapse
      //-裡面是導覽列物件
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href="#section_issue") ISSUE
        li.nav-item
          a.nav-link(href="#section_concept") CONCEPT
        li.nav-item
          a.nav-link(href="#section_solution") SOLUTION
        li.nav-item
          a.nav-link(href="#section_about") ABOUT
          
          
//---------------------
// Header
//---------------------

header.jumbotron
  .container
    img.logo(src="https://i.imgur.com/hlEd76V.png", alt="").col-sm-4
    //- h1 TieLine
    hr
    h4.subtitle 10-Minute Community


//---------------------
// Issue
//---------------------

section#section_issue
  .container
    h1(data-bottom-top="transform: translateY(-50px); opacity:0" data-center="transform: translateY(0px); opacity:1") Issue
    .row.col-md-8.col-sm-12(data-bottom-top="transform: translateY(-50px); opacity:0" data-center="transform: translateY(0px); opacity:1")
      img.map(src="https://i.imgur.com/BBpyCTC.jpg", alt="")
    .row
      .issue.issue1.col-sm-4(data-bottom-top="transform: translateY(-50px); opacity:0" data-center="transform: translateY(0px); opacity:1") Monotone use of the site
        .text As a residential area, the site located in the center of the city and right next to Banqiao station, where is surrounded by different land uses, such as public authorities, department stores, office buildings, restaurants and so on, with an old and monotone profile.To reach to goal of 10-min city, the access form the site to other uses is dangerous, in the meanwhile, the activities on the site can’t other nearby opportunities for the residents.
        
        
      .issue.issue2.col-sm-4(data-bottom-top="transform: translateY(-50px); opacity:0" data-center="transform: translateY(0px); opacity:1") Pedestrian-unfriendly streets
        .text The lack of sidewalks force pedestrians  to jostle with cars and motorcycles for the right to walk, which is dangerous especially for kids, elders and physically challenged.  The ability of accessing different land uses (schools, MRT/train/bus stations, shops …etc.) from the site at the radius of 10-min walking distance shrinks, due to the evasive actions the pedestrians have to take while walking on the streets.
        
        
      .issue.issue3.col-sm-4(data-bottom-top="transform: translateY(-50px); opacity:0" data-center="transform: translateY(0px); opacity:1") Lack of public utilities and barrier-free facilities
        .text Postwar walk-up apartments, common to see in New Taipei city, were built in 1940s and 1950s. Nowadays, to live in these buildings, the residents have no space to develop their social lives in the neighbourhood. It is also challenging for the elders and physically challenged to live here, since there’s no elevator to move up. Municipality subsidize inhabitants to install elevators to ameliorate this situation, with little success.
        
        
    .row 
        img.picture(src="https://i.imgur.com/rICvebc.jpg", alt="").col-sm-4(data-bottom-top="transform: translateY(-50px); opacity:0" data-center="transform: translateY(0px); opacity:1")
        img.picture(src="https://i.imgur.com/NmwzvhW.jpg", alt="").col-sm-4(data-bottom-top="transform: translateY(-50px); opacity:0" data-center="transform: translateY(0px); opacity:1")     
        
        img.picture(src="https://i.imgur.com/qTB90Hi.png?1", alt="").col-sm-4(data-bottom-top="transform: translateY(-50px); opacity:0" data-center="transform: translateY(0px); opacity:1")
    
    //---USER JOURNEY MAP---    
    .row
      .title.col-sm-6(data-bottom-top="transform: translateY(-50px); opacity:0" data-center="transform: translateY(0px); opacity:1") User Journey Map (as-is)

    .row
      img.icon(src="https://i.imgur.com/v5k7J4a.png", alt="").col-sm-4(data-bottom-top="transform: translateY(-50px); opacity:0" data-center="transform: translateY(0px); opacity:1")

      img.icon(src="https://i.imgur.com/azkzWtg.png", alt="").col-sm-4(data-bottom-top="transform: translateY(-50px); opacity:0" data-center="transform: translateY(0px); opacity:1")
      img.icon(src="https://i.imgur.com/BGfaVaF.png", alt="").col-sm-4(data-bottom-top="transform: translateY(-50px); opacity:0" data-center="transform: translateY(0px); opacity:1")
      
      


//---------------------
// Concept
//---------------------

section#section_concept
  .container
    h1(data-bottom-top="transform: translateY(-50px); opacity:0" data-center="transform: translateY(0px); opacity:1") Concept
    .row
      .description.col-sm-6(data-bottom-top="transform: translateY(-50px); opacity:0" data-center="transform: translateY(0px); opacity:1") 1. Improve vertical movement in the postwar walk-up apartment.<br><br>2. Free up the street and parking lots for pedestrians, social activites and emergency situation.<br><br>3. Increase the diversity and flexibitility of land use in the nieghborhood.<br><br><br><br>"TieLine" is a light railway system installed into the roads. It will not only be expanded from the site to the radius of 10-min transporting distance, but the vertical movements will also be attached to the apartments. The electric cart moving on the railway with constant speed   are designed to fit different needs eg. for commuting, firefighting, collecting garbage, distributing parcels, moving upward and downward, . exercising, working and selling stuffs.

      img.concept(src="https://i.imgur.com/SdkgIML.png", alt="").col-sm-6(data-bottom-top="transform: translateY(-50px); opacity:0" data-center="transform: translateY(0px); opacity:1")
      
      
      
//---------------------
// Solution
//---------------------

section#section_solution
  .container
    h1(data-bottom-top="transform: translateY(-50px); opacity:0" data-center="transform: translateY(0px); opacity:1") Solution
    .row.col-md-8.col-sm-12(data-bottom-top="transform: translateY(-50px); opacity:0" data-center="transform: translateY(0px); opacity:1")
      img.map(src="https://i.imgur.com/nXXuA5v.jpg", alt="")

    .row
      .description.col-md-4.col-sm-12(data-bottom-top="transform: translateY(-50px); opacity:0" data-center="transform: translateY(0px); opacity:1") a. Parking lots are released for multiple use.<br><br><br>b. Cloud cart can improve the convenience of the elder and physically challenged. The emergency cart can handle emergency situation and firefighting.
      .scenario.col-md-4.col-sm-12(data-bottom-top="transform: translateY(-50px); opacity:0" data-center="transform: translateY(0px); opacity:1")
        img.s_left(src="https://i.imgur.com/dpJvHU8.jpg", alt="")
      .scenario.col-md-4.col-sm-12(data-bottom-top="transform: translateY(-50px); opacity:0" data-center="transform: translateY(0px); opacity:1")
        img.s_right(src="https://i.imgur.com/Y43QvEV.jpg", alt="")
      .description.col-md-4.col-sm-12(data-bottom-top="transform: translateY(-50px); opacity:0" data-center="transform: translateY(0px); opacity:1") c. Parking lots turned into a parking tower by “TieLine” functions as a conveyor.<br><br><br>d. Commute cart traverse the neighborhood and adjacent area at a radius of 10-min transport distance to reach the destinations for daily support.
      .scenario.col-md-4.col-sm-12(data-bottom-top="transform: translateY(-50px); opacity:0" data-center="transform: translateY(0px); opacity:1")
        img.s_left(src="https://i.imgur.com/HYzlsi5.png", alt="")
        
      .scenario.col-md-4.col-sm-12(data-bottom-top="transform: translateY(-50px); opacity:0" data-center="transform: translateY(0px); opacity:1")
        img.s_right(src="https://i.imgur.com/GdU0juf.png", alt="")
        
    //---基地影片---    
    .row
        .col-md-4.col-sm-12(data-bottom-top="transform: translateY(-50px); opacity:0" data-center="transform: translateY(0px); opacity:1")
        video.site(src="https://i.imgur.com/qSvsYss.mp4", height="400px", autoplay, loop, muted).col-md-8.col-sm-12(data-bottom-top="transform: translateY(-50px); opacity:0" data-center="transform: translateY(0px); opacity:1")

    //---系統圖---
    .row
     .title(data-bottom-top="transform: translateY(-50px); opacity:0" data-center="transform: translateY(0px); opacity:1") TieLine System
    .row
      img.system(src="https://i.imgur.com/89gEui1.jpg", alt="").col-md-8.col-sm-12(data-bottom-top="transform: translateY(-50px); opacity:0" data-center="transform: translateY(0px); opacity:1")
      
    .row
      img.system(src="https://i.imgur.com/rpWztaR.jpg", alt="").col-md-8.col-sm-12(data-bottom-top="transform: translateY(-50px); opacity:0" data-center="transform: translateY(0px); opacity:1")

    .row
      img.streetsection(src="https://i.imgur.com/bB8oKNn.png", alt="").col-md-8.col-sm-12(data-bottom-top="transform: translateY(-50px); opacity:0" data-center="transform: translateY(0px); opacity:1")
      
      
            
    //---APP---    
    .row
      .title.col-sm-12(data-bottom-top="transform: translateY(-50px); opacity:0" data-center="transform: translateY(0px); opacity:1") TieLine App
      .text.col-sm-12(data-bottom-top="transform: translateY(-50px); opacity:0" data-center="transform: translateY(0px); opacity:1") TieLine App integrates the whole systmes. People can be picked up and dropped by at the time slot and location they arrange on the app. Booking office carts or stall carts, checking remaining energy of the system, calling firefighting carts for emergency situations …etc. can all be operated on the app.
    .row
      .app_wrap.col-md-4.col-sm-12
        video.app.app_1(src="https://i.imgur.com/RpuUEZf.mp4", height="500px", autoplay, loop, muted) 
        
      .app_wrap.col-md-8.col-sm-12
        .row.col-md-12.col-sm-12
      
          img.app.app_2(src="https://i.imgur.com/IjDos84.png", alt="")
        .row.col-md-12.col-sm-12
          img.app.app_3(src="https://i.imgur.com/RvK6zyx.png", alt="")
    
    //---RESULT---
    .row
      .title.col-sm-12(data-bottom-top="transform: translateY(-50px); opacity:0" data-center="transform: translateY(0px); opacity:1") Result
    .row
        img.result(src="https://i.imgur.com/Jrpcjyt.png", alt="").col-sm-4(data-bottom-top="transform: translateY(-50px); opacity:0" data-center="transform: translateY(0px); opacity:1")
        
        img.result(src="https://i.imgur.com/VXMOiBu.png", alt="").col-sm-4(data-bottom-top="transform: translateY(-50px); opacity:0" data-center="transform: translateY(0px); opacity:1")

        img.result(src="https://i.imgur.com/TRTjofz.png", alt="").col-sm-4(data-bottom-top="transform: translateY(-50px); opacity:0" data-center="transform: translateY(0px); opacity:1")

  
//---------------------
// About
//---------------------

section#section_about
  .container
    h1(data-bottom-top="transform: translateY(-50px); opacity:0" data-center="transform: translateY(0px); opacity:1") About
    .row
      .about.col-sm-4 
        .title Yen-Chieh Fanchiang
        p Architectural Designer
      .about.col-sm-4 
        .title Chin Ku
        p UrbanTech Architect
      .about.col-sm-4 
        .title Ting-Yu Hsu
        p Urbanist



//---------------------
// Footer
//---------------------
//- footer.jumbotron
//-   .container
//-    .row
//-     img.logo(src="https://i.imgur.com/hlEd76V.png", alt="").col-sm-12
